body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

header .navbar {
    margin-bottom: 30px;
}

footer p {
    margin-bottom: 0;
}
